/* Navbar */
header {
    background-color: rgba(211, 211, 211, 0.85);
}

.navbar {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.navbar-collapse {
    position: relative;
    z-index: 2;
}

.dropdown-item {
    z-index: 9999;
}

@media (max-width: 768px) {
    .navbar-brand {
        position: absolute;
        transform: translateX(-50%);
        margin-bottom: 0.5rem;
    }

    .navbar-collapse {
        text-align: center;
    }
}

#logo, #logoP {
    height: 85px;
    width: auto;
}

.rounded-button {
    background-color: white;
    color: black;
    height: 50px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    text-align: center;
    vertical-align: central;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .rounded-button:hover {
        background-color: #f0f0f0;
        transform: scale(1.02);
    }

[data-bs-theme="dark"] {
    background-color: #1c1c1c;
    color: white;
}

    [data-bs-theme="dark"] .rounded-button {
        background-color: black;
        color: white;
    }

    [data-bs-theme="dark"] footer {
        background-color: #1c1c1c;
        color: white;
        border-top: solid 1px white;
    }

    [data-bs-theme='dark'] header {
        background-color: #1c1c1c;
        color: white;
    }

.switch-container {
    display: flex;
    flex-direction: row; /* Force horizontal layout */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Add space between items */
}

footer {
    width: 100%;
    border-top: solid 1px black;
    background-color: rgba(211, 211, 211, 0.85);
    color: dimgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.fa-fire, .fa-user, .fa-heart {
    color: red;
}

.fa-medal, .fa-flag {
    color: #b89e14;
}

.fa-user-tie {
    color: blue;
}

.fa-ship {
    color: lightblue;
}

.fa-robot {
    color: gray
}

.fa-map-location-dot, .fa-basket-shopping {
    color: green;
}

.fa-people-group {
    color: plum;
}

.fa-basketball {
    color: orange;
}

.icone-anel {
    transition: color 0.5s ease;
}

    .icone-anel:hover {
        animation: ciclo-cores 3.0s infinite;
    }

@keyframes ciclo-cores {
    0% {
        color: blue;
    }

    20% {
        color: orange;
    }

    40% {
        color: black;
    }

    60% {
        color: green;
    }

    80% {
        color: red;
    }

    100% {
        color: blue;
    }
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


main, content {
    flex: 1; /* Faz o conteúdo expandir para preencher o espaço */
}