@charset 'UTF-8';

.card-body {
    position: relative;
    height: 200px;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.card-body:hover {
    transform: scale(1.3);
    z-index: 1;
}

.card-body span {
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: opacity 0.3s ease-in-out;
}

.card-body:hover span {
    opacity: 1;
}

#foto01 {
    background-image: url('https://img.olympics.com/images/image/private/t_16-9_3200/f_auto/v1538355600/primary/bqkeqmlhf0mytsetfabh');
}

#foto02 {
    background-image: url('https://img.olympics.com/images/image/private/t_16-9_3200/f_auto/v1538355600/primary/iaw9ec5a9hneklyrb2xl');
}

#foto03 {
    background-image: url('https://img.olympics.com/images/image/private/t_16-9_3200/f_auto/v1538355600/primary/nmfbevslnganlyz9xdni');
}

#foto04 {
    background-image: url('https://img.olympics.com/images/image/private/t_16-9_3200/f_auto/v1538355600/primary/ank2vnsdi4smttzsshwc');
}

#foto05 {
    background-image: url('https://dims.apnews.com/dims4/default/861321c/2147483647/strip/true/crop/5824x3883+0+0/resize/1440x960!/format/webp/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2Fd7%2Ff2%2Fdac4f171d7e209ea0aed37d0eac7%2F626e7cbfafad4bd2beb6aec1883f5215');
}

#foto06 {
    background-image: url('https://img.olympics.com/images/image/private/t_16-9_3200/f_auto/v1538355600/primary/t09mwlgyapgdjhlpm12a');
}

.btn-olympic-colors {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
    background: linear-gradient(270deg, #0085C7, #F4C300, #000000, #009F3D, #DF0024);
    background-size: 1000% 100%;
    animation: olympicColors 5s infinite linear;
    margin-bottom: 20px;
}

@keyframes olympicColors {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}