/* Cards */

.fa-bookmark, .fa-location-dot, .fa-circle-dot, .fa-clock, .fa-circle-info {
    width: 15px;
    height: 15px;
}


#card-footer {
    color: black;
}

[data-bs-theme="dark"] #card-footer {
    color: darkgrey;
}
a {
    text-decoration: none;
    color: black
}

[data-bs-theme="dark"] a {
    color: white;
}

.mv {
    border: 1px solid lightgrey
}

    .mv:hover {
        background-color: #bebebe;
    }